name: Daily Reel Generator

on:
  workflow_dispatch: 
  schedule:
    # Runs at 02:00 UTC (7:30 AM IST) - For Morning 8:00 AM PEAK upload
    - cron: '0 2 * * *'
    # Runs at 15:00 UTC (8:30 PM IST) - For Night 9:00 PM PEAK upload
    - cron: '0 15 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick
          sudo sed -i '/pattern="@\*"/d' /etc/ImageMagick-6/policy.xml
          pip install requests moviepy==1.0.3 Pillow==9.5.0

      - name: Run Script
        env:
          PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python bot.py